<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kwangan2.springmvcboard.mapper.ReplyMapper">
	<!-- <select id="boardVOList" resultType="kr.kwangan2.springmvcboard.domain.BoardVO"> -->
	<!-- <![CDATA[ -->
	<!-- select * from board where bno > 0 -->
	<!-- ]]> -->
	<!-- </select> -->

	<select id="listReplyVo"
		resultType="kr.kwangan2.springmvcboard.domain.ReplyVO">
	<![CDATA[
		select 
			rno, bno, reply, replyer, replydate, updatedate
		from (
			select /*+INDEX(reply idx_reply) */ 
				rownum rn, rno, bno, reply, replyer, replydate,updatedate
			from
				reply
			where bno=#{bno}
				and rno>0
				and rownum<=#{criteria.pageNum}*#{criteria.amount}
		)
	where rn > (#{criteria.pageNum}-1) * #{criteria.amount}

	]]>
	</select>
    
   <select id="replyVOListReplyCount" resultType="int">
      <![CDATA[
         SELECT 
         	count(*)
         FROM 
         	reply 
         where
         	bno=#{bno}
      ]]>
      
   </select>

	<insert id="insertReplyVO">
  		<![CDATA[
  		insert into 
  		 	reply (rno, bno, reply, replyer, replydate, updatedate)
  		values
  			(seq_REPLY.nextval, #{bno}, #{reply}, #{replyer}, sysdate, sysdate)
  		]]>
	</insert>

	<select id="selectReplyVO"
		resultType="kr.kwangan2.springmvcboard.domain.ReplyVO">
  	
	  	<![CDATA[
	  	select 
	  		*
	  	from 
	  		reply
	  	where 
	  		rno = #{rno}
	  	]]>

	</select>

	<delete id="deleteReplyVO">
  	
	  	<![CDATA[
	  		delete 
	  		from
	  			reply 
	  		where 
	  			rno = #{rno}
	  	]]>

	</delete>

	<update id="updateReplyVO">
      <![CDATA[
         UPDATE 
         	reply
         SET 
         	reply = #{reply},
         	replyer = #{replyer},
         	updatedate = sysdate 
         WHERE 
         	rno = #{rno}
      ]]>
	</update>






</mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  